<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <div>
            <form method="POST" action="/admin/addservices">
                <label>Subservice:&nbsp;</label>
                <input type="text" name="subService" value="">
                <br>
                <br>
                <label>Mainservice:&nbsp;</label>
                <input type="text" name="mainService" value="">
                <br>
                <br>
                <label>Preinspection:&nbsp;</label>
                <input type="number" name="preInspection" value="">
                <br>
                <br>
                <label>Average Time:&nbsp;</label>
                <input type="text" name="avgTime" value="">
                <br>
                <br>
                <label>Average Cost:&nbsp;</label>
                <input type="number" name="avgCost" value="">
                <br>
                <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>