<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userProfile</title>
</head>

<body>
    <style>
        input,
        button {
            width: 300px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #userdata {
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #ccc;
            padding: 5px;
            text-align: center;
            margin: auto;
        }
    </style>
    <form method="GET">
        <div id="userdata">
            <label for="fname">First Name: </label>
            <input type="text" id="fname" name="fname">
            <br>
            <br>
            <label for="fname">Last Name: </label>
            <input type="text" id="lname" name="lname">
            <br>
            <br>
            <label for="phone">Phone: </label>
            <input type="tel" name="phone" id="phone" maxlength="10">
            <br>
            <br>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
            <br>
            <br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
            <br>
            <br>
            <label for="confirmpass">Confirm Password: </label>
            <input type="password" name="confirmpass" id="confirmpass">
            <br>
            <br>
        </div>
    </form>
    <script>

    </script>
</body>

</html>